* {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    background-color: black;
    color: white;
    height: 5rem;
    line-height: 5rem;
}

.choice {
    height: 300px;
    width: 300px;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.choice:hover {
    background-color: black;
}

img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.score {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}

#userScore, #computerScore {
    font-size: 4rem;
}

.msg {
    margin-top: 5rem;
    color: rgb(34, 112, 181);
    font-size: 2rem;
    padding: 1rem;
}
